:root {
    --color-primary-dark: #A8C6F533;
    --color-secondary-dark: #4A4A4A;
    /*brand*/
    --color-tertiary-dark: #A8C6F561;
    --color-quaternary-dark: #747272;
    --color-primary-light: #FFFFFF;
    /*brand*/
    --color-brand-dark: #011C44;
    /*primary*/
    --color-brand-light: #2B7FFF;
    /*primary*/
    --color-text-dark: #000000;
}