.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  gap: 32px;
}

.contact-title {
  margin-bottom: 48px;
}

.contact-map {
  flex: 50%;
  flex-shrink: 0;
  border-radius: 32px;
  border: none;
}

.contact-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.17;
}

.contact-text .brand {
  color: var(--color-brand-light);
}

.contact-form {
  text-align: center;
  width: 100%;
  max-width: 423px;
  height: 100%;
  max-height: 481px;
  padding: 48px 56px;
  background-color: var(--color-brand-dark);
  border-radius: 32px;
  overflow-y: auto;
  color: var(--color-primary-light);
  background-image: url(../images/modal-background.png);
}

/* .contact-form {
    background-color: var(--color-brand-dark);
} */
