.input {
  position: relative;
  width: 240px;
  margin: 0 auto 16px;
  gap: 32px;

  @media screen and (min-width: $bp-tablet) {
    width: 310px;
  }

  &__label {
    position: absolute;
    top: 18px;
    left: 32px;
  }

  &__control {
    padding: 16px 24px;
    width: 100%;
    font-size: 13px;
    line-height: 1.17;
    border: 2px solid var(--color-quaternary-dark);
    border-radius: 32px;
    background-color: transparent;
    color: var(--color-primary-light);

    @media screen and (min-width: $bp-tablet) {
      padding: 18px 32px;
    }

    &:focus {
      background-color: var(--color-quaternary-dark);
      border-color: var(--color-quaternary-dark);
      outline: none;
    }

    &::placeholder {
      color: var(--color-primary-light);
      font-size: 13px;
      line-height: 1.17;
    }

    &:focus:placeholder {
      color: var(--color-primary-light);
    }
  }
}
