.our-procedures-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 456px;
  // width: 344px;
  padding: 372px 77px 32px 115px;
  //   text-align: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    var(--color-brand-dark) 101.39%
  );
  border-radius: 4px 120px 4px 120px; /* maybe to remove */
  // transition: transform 0.3s;
  overflow: hidden;

  // &:hover {
  //   transform: scale(1.05);
  // }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__text {
    color: var(--color-primary-light);
    width: 152px;
    height: 52px;
    text-align: center;
    font-size: 22px;
    line-height: 1.18;
  }
}
