.about-us-section {
  padding-top: 1px;
  padding-bottom: 52px;
  font-size: 22px;
  line-height: 1.7;
  
  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 88px; 
   }

  &__container {
    // display: block;

    // @media screen  and (min-width: $bp-tablet){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  // width: 100%;
  // max-width: 1240px;
  margin: 0 auto;
  gap: 30px;
    // }
  }

  &__content {
    max-width: 710px;
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__text--limited{
    font-size: 18px;
    width: 100%;
    max-width: 375px;
  
    @media screen and (min-width: $bp-tablet) {
      font-size: 22px;
      width: 100%;
      max-width: 710px;
     }
    }

  &__photo {
    position: relative;
  }

  &__photo-1,
  &__photo-2 {
    display: none;
    box-shadow: 0px 4px 4px 0px var(--color-tertiary-dark);
    /*add var color here*/
    border-radius: 50%;

    
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }


  &__photo-1 {
    margin: 0 168px 20px 5px;
  }

  &__photo-2 {
    margin: 20px 0 0 196px;
  }

  &__icon-1,
  &__icon-2,
  &__icon-3 {
    position: absolute;
    content: '';
    animation: spin 1s infinite linear;

    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      50% {
        transform: rotate(30deg);
      }
    }
  }

  &__icon-1 {
    display: block;
    width: 40px;
    height: 40px;
    top: 635px;
    /* left: 283px; */
    right: 22px;
    
  @media screen and (min-width: $bp-desktop) {
    display: block;
    width: 64px;
    height: 64px;
    top: 355px;
    left: 150px;
    right: 300px;
  }
  }

  &__icon-2 {
    display: none;
    top: 100px;
    left: 503px;
  
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__icon-3 {
    display: none;
    top: 270px;
    left: 505px;
    
  @media screen and (min-width: $bp-desktop) {
    display: block;
  }
  }
}

// @keyframes spin {
//   0% {
//     transform: rotate(0);
//   }

//   50% {
//     transform: rotate(30deg);
//   }
// }
