.form-terms {
  margin: 0 auto;
  max-width: 225px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-quaternary-dark);

  &__link {
    color: var(--color-quaternary-dark);
    text-underline-offset: 2px;
  }
}
