.hero-section {
  // padding: 160px 667px 270px 244px;
  // height: 100%;
  // margin-left: -38px;
  height: 100%;
  max-height: 685px;
  background-image: url('../images/hero-section-background.jpg');
  display: flex;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/hero-section-background@2x.jpg');
  }

  &__container {
    margin-bottom: 0;
    padding:70px 20px 56px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      display: none;
      // padding: 125px 705px 125px 244px;
      padding: 125px 706px 270px 110px;
      font-size: 18px;
      line-height: 1.17;
      text-align: start;
    }
  }

  &__title {
    color: var(--color-brand-light);
    font-family: 'Play', sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    margin-bottom: 32px;


    @media screen and (min-width: $bp-tablet) {
      text-align: start;
      width: 100%;
      max-width: 530px;
      font-size: 140px;
      line-height: 1;
    }
  }

  &__text.limited {
    width: 100%;
    max-width: 225px;
    padding-top: 8px;
    text-align: center;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
    width: 100%;
    min-width: 225px;
    padding-top: 14px;
    text-align: center;
    margin: 0;
    }
  }

  &__text {
    margin-bottom: 0;

    @media screen and (min-width:  $bp-tablet) {
      display: none;
      margin-bottom: 16px;
      width: 100px;
      max-width: 240px;
    }
  }

  &__text .brand {
    color: var(--color-secondary-dark);
    font-size: 12px;
    line-height: 1.5;
  }
}
